body {
  background-color: rgb(239, 166, 137);
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
}
h1 {
  text-align: center;
  margin-top: 10%;
}
p {
  text-align: center;
}
.links {
  display: flex;
  padding: 20px;
  justify-content: center;
}
a {
  color: rgb(108, 14, 110);
  margin-right: 30px;
}
img {
  max-width: 100%;
  height: auto;
  margin-top: 1% auto;
  padding: 10px 5px 10px;
  border-radius: 10px;
}
.email-to {
  display: flex;
  justify-content: center;
  color: blue;
}
